.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        %p Shogo
      .side-bar__user-name__top-items__icons
        = icon('far', 'edit')
        = icon('fas', 'cog')

  .side-bar__group-list
    .group
      .group__group-name
        %p tech::expert
      .group__latest-message
        %p まだメッセージがありません
    
